@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <h4>Это веб-приложение для организации мероприятий</h4>
    <h1><a asp-controller="ApplicationForEvents" asp-action="Create">Оставить заявку на проведение мероприятия</a></h1>
</div>
